﻿
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $('#chatControl').hide();
    });
    var message = { username: '', text: '', dt: '' };
    function setUser() {
        var username = document.getElementById("username").value;
        if (username == "" || username == undefined) {
            alert('please enter username');
            return;
        }
        else {
            message.username = username;
            $('#chatControl').show();
            $('#chatTemplate').empty();
            $('#start').hide();
            $('#message').text("Welcome to Just chat :" + message.username).css("font-weight", "Bold");
        }
    }
    function Send() {

        message.text = document.getElementById("push").value;
        $.ajax({
            url: "http://localhost:62893/api/Chat/",
            data: JSON.stringify(message),
            cache: false,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });
        $("#push").val('');
    }

    var source = new EventSource('http://localhost:62893/api/Chat/');

    source.onmessage = function (e) {
        var data = e.data.split('|');
        var username = $("<strong></strong>").text(data[0] + " : ");
        var text = $("<i></i>").text(data[1]);
        var dt = $("<div></div>").text(data[2]);
        var chatTemp = document.createElement("p");
        chatTemp.append(dt[0], username[0], text[0], document.createElement("br"));
        $('#chatTemplate').append(chatTemp);
    };  
</script>

<h2>Just Chat</h2>
<body style="background-color: chartreuse">
    <div id="body">
        <section>
            <div id="chatTemplate">
            </div>
            <div id="start">
                <label for="username">Enter username to start chatting</label>
                <input type="text" id="username" />
                <input type="button" value="set user" onclick="setUser()" />
            </div>
            <div id="message"></div>
            <div id="chatControl">
                <textarea type="text" id="push"></textarea>
                <button id="pushbtn" onclick="Send()">Send</button>
            </div>
        </section>
    </div>
</body>  